<!DOCTYPE html>

<html lang="ja">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" href="/css/base.css">
<title>Demo</title>
</head>
<body>

<div data-ch-template="template_engine.RootViewController.content">
    <div data-ch-name="text"></div>
    <input data-ch-name="input"></input>
    <div data-ch-name="value"></div>
    <a data-ch-name="link">text</a>
    <button data-ch-id="btn">getValue</button>
    <button data-ch-id="aa" data-ch-view="template_engine.CustomView">getValue</button>
    <button data-ch-id="clear">clear</button>
</div>

<!-- __templates_body__ -->
</body>
</html>
