<!DOCTYPE html>

<html lang="ja">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" href="/css/base.css">
<title>Demo</title>
</head>
<body>

<div data-ch-template="helloworld.RootViewController.content">
    <div data-ch-name="lbl"></div>
    <button data-ch-id="btnGotoSub">goto sub</button>
</div>

<div data-ch-template="helloworld.SubViewController.content">
    <div data-ch-name="lbl"></div>
     <button data-ch-id="btnBack">back</button>
</div>

<!-- __templates_body__ -->
</body>
</html>
