body {
	-webkit-tap-highlight-color: rgba(50, 50, 255, 0.5);
	-webkit-text-size-adjust: none;
}

/* ===== reset ===== */
html,body,h1,h2,h3,h4,ul,ol,li,dl,dt,dd,div,span,p,a,img,form {
	margin:0;
	padding:0;
}

h1,h2,h3,h4 {
	font-size: 14px;
	line-height: 1.4;
}

img {
	border: 0;
	vertical-align: top;
}

ul,ol {
	list-style: none;
}

/* ===== base ===== */
body {
	font-size: 14px;
	line-height: 1.4;
	font-family: ArialMT, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", メイリオ, sans-serif;
	color: #393939;
	background-color: #ffffff;
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: none;
}

a {
	color: #3366cc;
	text-decoration: none;
}

.clearfix:after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
	clear: both;
}

/* ========== background ========== */
body {
	-webkit-background-size: 320px 240px;
			background-size: 320px 240px;
}

.mocha-bg15 {
	border-top: 1px solid transparent;
	border-bottom: 1px solid #14344f;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #00396b), color-stop(0.97, #00599c), color-stop(0.50, #0065b1), color-stop(0.03, #00599c), color-stop(0.00, #00396b));
	background: -webkit-linear-gradient(top, #00396b 0%, #00599c 3%, #0065b1 50%, #00599c 97%, #00396b 100%);
	background:         linear-gradient(to bottom, #00396b 0%, #00599c 3%, #0065b1 50%, #00599c 97%, #00396b 100%);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.mocha-bg16 {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #191919), color-stop(0.96, #272727), color-stop(0.50, #2d2d2d), color-stop(0.04, #272727), color-stop(0.00, #191919));
	background: -webkit-linear-gradient(top, #191919 0%, #272727 4%, #2d2d2d 50%, #272727 96%, #191919 100%);
	background:         linear-gradient(to bottom, #191919 0%, #272727 4%, #2d2d2d 50%, #272727 96%, #191919 100%);
}

.mocha-bg-color1 {
	background: #fff;
}
/* ========== font size:9px,10px,11pxはiosバグある為使用していない ==== */
.mocha-txt-sub1 {
	color: #fff;
}
.mocha-txt-sub2 {
	color: #333;
}
.mocha-txt-sub3 {
	color: #385487;
}
.mocha-bold {
	font-weight: bold;
}

.mocha-size-sub-s {
	font-size: 12px;
}
.mocha-size-sub-m {
	font-size: 16px;
}

/* ========== layout ========== */
.mocha-wid1 {
	width: 100%;
}
.mocha-wid5 {
	width: 20%;
}
.mocha-center {
	text-align: center;
}
.mocha-txt-right {
	text-align: right;
}
.mocha-block {
	display: block;
}
.mocha-text-overflow {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.mocha-block-overflow {
	overflow: hidden;
}
.mocha-z-index-s {
	z-index: 32;
}

/* ========== padding margin border ========== */
.mocha-padding-ss {
	padding: 3px;
}
.mocha-padding-top-ss2 {
	padding-top: 2px;
}
.mocha-margin-right-s {
	margin-right: 5px;
}
.mocha-padding-right-m {
	padding-right: 10px;
}
.mocha-padding-left-s {
	padding-left: 5px;
}

/* ========== box ========== */
.mocha-box-h {
	display:-webkit-box;
	display:        box;
	-webkit-box-align:center;
			box-align:center;
	-webkit-box-pack:center;
			box-pack:center;
}
.mocha-box-h {
	-webkit-box-orient:horizontal;
			box-orient:horizontal;
}
.mocha-box-pack-end {
	-webkit-box-pack:end;
			box-pack:end;
}
.mocha-flex {
	-webkit-box-flex: 1.0;
			box-flex: 1.0;
}

/* ==========  list ========== */
img.mocha-thumb40 {
	padding: 2px;
	border: 1px solid #c3c3c3;
	background: #fff;
}
.mocha-line {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #c3c3c3;
}
.mocha-line:first-child {
	border-top: none;
}
.mocha-arrow {
	display: block;
	padding: 8px 30px 8px 10px;
	background: url(image/arrow.png) no-repeat right center;
	-webkit-background-size: 26px 16px;
			background-size: 26px 16px;
}

/* ========== usually using parts ========== */
.mocha-global-header {
	padding: 6px 5px 4px;
	display: -webkit-box;
	display:         box;
	-webkit-box-align:center;
			box-align:center;
	-webkit-box-pack:center;
			box-pack:center;
}

