<!DOCTYPE html>

<html lang="ja">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/css/base.css">
    <title>Demo</title>
  </head>
  <body>

    <div data-ch-template="action_bar" class="mocha-wid1 mocha-bg15 mocha-z-index-s">
      <div class="mocha-global-header">
        <div class="mocha-flex mocha-center mocha-padding-top-ss2">
          <span class="mocha-size-sub-m mocha-txt-sub1 mocha-bold mocha-block mocha-text-overflow">tupai.js</span>
        </div>
      </div>
    </div>

    <div>
      <div data-ch-template="timeline_table_cell" class="mocha-line mocha-bg-color1">
	<div class="mocha-arrow mocha-block">
	  <div class="mocha-box-h">
	    <div class="mocha-padding-ss mocha-padding-right-m mocha-padding-left-s">
	      <img data-ch-name="user.profile_image_url" class="mocha-thumb40" alt="" width="40" height="40">
	    </div>
	    <div class="mocha-flex">
	      <span data-ch-name="from_user_name" class="mocha-block mocha-txt-sub2" style="font-weight: bold;">ユーザー</span>
	      <span data-ch-name="text" class="mocha-block mocha-txt-sub2">前田、胡、村松、小田、上松、平野…</span>
	      <span data-ch-name="created_at" class="mocha-size-sub-s mocha-block mocha-txt-sub2">昨日 12:05</span>
            </div>
	  </div>
	</div>
      </div>
      <div class="mocha-line mocha-bg-color1">
	<div class="mocha-arrow mocha-block">
	  <div class="mocha-box-h">
	    <div class="mocha-padding-ss mocha-padding-right-m mocha-padding-left-s">
	      <img src="image/thumb_avatar-2.gif" class="mocha-thumb40" alt="" width="40" height="40">
	    </div>
	    <div class="mocha-flex">
	      <span class="mocha-block mocha-txt-sub2" style="font-weight: bold;">ユーザー</span>
	      <span class="mocha-block mocha-txt-sub2">あっちゃん、シズヲ、ナボ、カタル</span>
	      <span class="mocha-size-sub-s mocha-block mocha-txt-sub2">昨日 12:05</span>
	    </div>
	  </div>
	</div>
      </div>
      <div class="mocha-line mocha-bg-color1">
	<div class="mocha-arrow mocha-block">
	  <div class="mocha-box-h">
	    <div class="mocha-padding-ss mocha-padding-right-m mocha-padding-left-s">
	      <img src="image/thumb_avatar-3.gif" class="mocha-thumb40" alt="" width="40" height="40">
	    </div>
	    <div class="mocha-flex">
	      <span class="mocha-block mocha-txt-sub2" style="font-weight: bold;">ユーザー</span>
	      <span class="mocha-block mocha-txt-sub2">百田香夏子、玉井詩織、佐々木彩夏、高城れに…</span>
	      <span class="mocha-size-sub-s mocha-block mocha-txt-sub2">昨日 12:05</span>
	    </div>
	  </div>
	</div>
      </div>
      <div data-ch-template="more_link" class="mocha-bg16 mocha-block-overflow">
        <div class="mocha-bt-morelink">
          <span class="mocha-bt-morelink-icon mocha-margin-right-s"></span>
          <span class="mocha-block">もっと見る</span>
        </div>
      </div>
    </div>

    <!-- __templates_body__ -->
  </body>
</html>
