<!DOCTYPE html>

<html lang="ja">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" href="/css/base.css">
<title>Demo</title>
</head>
<body>

<div data-ch-template="template_root">
    <input data-ch-id="btnDetail" type="button" value="show_detail">
    <div data-ch-id="container"></div>
    <input data-ch-id="btn1" type="button" value="show_sub1">
    <input data-ch-id="btn2" type="button" value="show_sub2">
</div>
<div data-ch-template="template_sub1"> sub1 </div>
<div data-ch-template="template_sub2"> sub2 </div>
<div data-ch-template="template_detail1">
    detail1
    <input data-ch-id="btnDetail2" type="button" value="show_detail2">
</div>
<div data-ch-template="template_detail2">
    detail2
    <input data-ch-id="btnBackRoot" type="button" value="back to root">
</div>

<!-- __templates_body__ -->
</body>
</html>
